@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
  0%, 100% { background-color: #fef9c3; } /* yellow-100 */
  50% { background-color: #fde68a; }      /* yellow-300 */
}

.animate-blink {
  animation: blink 1s ease-in-out 2;
}