@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  
  .animate-scroll {
    animation: scroll 20s linear infinite;
  }
  
  .heading{
    letter-spacing: 5px;
  }
  .mission{
    letter-spacing: 0.5px;
  }
  .contact{
    background-image: url(../../../../public/assets/SectionBg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  /* For the scrollable filterbar in the AllProblems Page */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  display: none;
}

  